/* Format for title on About Page */

.aboutTitle {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 300px;
    margin-bottom: 20px;
}

h1.aboutTitle {
    color: lightblue;
    font-size: 60px;
    margin-top: 200px;
    margin-left: 150px;

}

h2.aboutTitle {
    color: black;
    font-size: 20px;
    margin-top: 50px;
    margin-right: 750px;
    margin-left: 160px;
  
}

span.aboutTitle {
    color: lightblue;
    font-size: 20px;
}

/* Format for Bio Picture */

.bioPic {
    height: 500px;
    margin-left: 700px;
    margin-bottom: 0px;
    margin-top: -485px;
}

/* Format for Navigation */

nav.top-nav ul {
    list-style: none;
    padding: 0;
    margin-left: 1000px;
    margin-top: 20px;

}

nav.top-nav li {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: grey;
    margin: 5px;
    display: inline-block;
    padding: 5px;
    user-select: none;
    position: relative;
    text-align: right;
}

nav.top-nav li:hover {
    color: lightblue;
}

/* Format for Intro on Main Page */

.main {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 230px;
    margin-right: 300px;
}

h1.main {
    margin-top: 200px;
    font-size: 80px;
}

span.main {
    color: lightblue;
    margin-left: 0px;
    margin-right: 0px;

}

h2.main {
    margin-top: -40px;
}

/* Format for Portfolio Text + Art on Main Page */

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-left: 230px;
    margin-top: 150px;
    margin-bottom: 20px;
}

.art {
    height: 750px;
    width: 950px;
    margin-left: 230px;
    margin-bottom: -30px;
}

/* Format for Portfolio Piece (Coffee) Intro + Description + Art*/

.portfolioTitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin-left: 130px;
    margin-top: 100px;
    margin-bottom: 20px;
    color: lightblue;

}

.portfolioDescription {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-left: 130px;
    margin-right: 600px;
}

.portfolioStats {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-left: 130px;
    margin-right: 600px;
}

.mobilePic {
    height: 400px;
    width: 350px;
    margin-top: -300px;
    margin-left: 850px;
}

#bodyText {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
}

.comparison {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-bottom: 50px;

}

.comparison2 {
    height: 550px;
    color: lightblue;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: -45px;
}

/* Format for Wireframe Section of Portfolio Piece */

.wireframes {
    display: flex;
    flex-direction: row;

}

.wireframes_column {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

}

.wireframe1 {
    height: 550px;
    margin-left: 130px;
    margin-right: 50px;
    margin-top: 50px;
}

.wireframe2 {
    height: 550px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.wireframe3 {
    height: 550px;
    margin-left: 50px;
    margin-top: 50px;
}

.caption {
    display: flex;
    flex-direction: column;
}

.description1 {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 130px;
    margin-right: -50px;
    font-size: 20px;
    width: 300px;
}

.description2 {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 60px;
    font-size: 20px;
    width: 300px;
}

.description3 {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 60px;
    font-size: 20px;
    width: 300px;
    margin-right: -50px;
}

.description4 {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 130px;
    margin-right: -50px;
    font-size: 20px;
    width: 400px;
}

/* Format for Subtitles on Portfolio Piece */

.subtitle {
    font-family: 'Courier New', Courier, monospace;
    color: lightblue;
    margin-left: 130px;
    /* margin-left: 650px; */

}

/* Format for Coffee UI Picture */

.coffeePic {
    margin-left: 130px;
    height: 900px;
    width: 1100px;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Format for Contact Form on About Section */

.contact_form {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-left: 160px;

}

input {
    margin-bottom: 15px;
}

input[type=submit] {

    background-color: white;
    border-color: lightblue;
    width: 100px;
}

input[type=messagebox]  {
    width: 300px;
    height: 300px;
}

.grid-container {

    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightblue;
    padding: 10px;
    margin-top: 0px;
  }

.coffee {
    height: 500px;
    margin-top: 100px;
    margin-left: 100px;
}

/* Format for Comments Form on Portfolio Piece */

.comments {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 130px;
    font-size: 20px;
    margin-right: 150px;
}

/* Format for Flower Icon  */

.material-icons {
    color: lightblue;
    margin-left: 650px;
    margin-top: 100px;
}

/* Format for Keyboard Navigation */

:focus {
    outline: 3px solid lightblue;   
}

